<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

    <body>

        <%- include('./partials/navbar.ejs') %>


            <div class="container-fluid">
                <h1>Welcome to my blog</h1>

                <div class="row mx-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed. Justo nec
                    ultrices
                    dui sapien eget mi. Eu feugiat pretium nibh ipsum. Mauris in aliquam sem fringilla ut morbi
                    tincidunt augue.
                    Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus.
                    Rhoncus dolor
                    purus non enim. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Faucibus ornare
                    suspendisse
                    sed nisi lacus sed. Fermentum dui faucibus in ornare quam. Volutpat commodo sed egestas egestas
                    fringilla
                    phasellus. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Egestas purus viverra accumsan
                    in nisl
                    nisi. Felis eget velit aliquet sagittis. Molestie nunc non blandit massa enim nec dui. Enim sed
                    faucibus
                    turpis in eu mi bibendum neque egestas. Orci porta non pulvinar neque laoreet. Eu ultrices vitae
                    auctor eu
                    augue. Orci a scelerisque purus semper. Aliquam ut porttitor leo a diam.
                </div>
                <%- include('./partials/footer.ejs') %>

            </div>
    </body>

</html>